<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Mi Blog</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        {{#if user.username}}
          <a class="nav-link"><i>Te has logueado con el usuario
              <span id="name-user"><b>{{user.username}}</b></span></i></a>
        {{else}}
          <a class="nav-link" href="/login"><i
              class="fa fa-sign-in"
              aria-hidden="true"
            ></i>
            Iniciar sesión</a>
        {{/if}}
      </li>

    </ul>
    <ul class="navbar-nav">
      <li id="cerrarSesionNavItem" class="nav-item">
        <a
          id="cerrarSesionLink"
          class="nav-link text-danger"
          href="/login/user/cerrar-sesion"
        >Cerrar sesión <i class="fa fa-sign-in" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>

<script>
  var currentPath = window.location.pathname; if (currentPath === "/login") {
  var cerrarSesionNavItem = document.getElementById('cerrarSesionNavItem'); if
  (cerrarSesionNavItem) { cerrarSesionNavItem.classList.add('d-none'); } }
</script>