<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/blog_16.png">
    <link rel="manifest" href="/manifest.json">
    <title>SolidarianID</title>
    {{!-- BOOTSTRAP --}}
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/all.min.css" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    
    <header>
        {{> nav}}
    </header>

    <div id="main" class="main">
        {{{ body }}}
    </div>

    {{> footer}}

    <!-- jQuery library -->
    <script src="/stylesheets/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="/stylesheets/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/stylesheets/bootstrap.min.js"></script>
    <!-- Custom scripts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Publicaciones con notificaciones y guardados en indexDB JS -->
    <script src="/javascripts/publicaciones_noti_db.js"></script>
    <!-- Usuarios y comunidades en indexDB JS 
    <script src="/javascripts/usuarios_comunidades_indexDB.js"></script> -->
    <!-- TinyMCE -->
    <script src="../tinymce/tinymce.min.js"></script>
    <!-- Fechas -->
    <script src="/javascripts/fechas.js"></script>
    <script>
      tinymce.init({ selector: '#publicaciones', plugins: `advlist autolink lists
      link image charmap print preview hr anchor pagebreak`, toolbar_mode:
      'floating', tinycomments_mode: 'embedded', tinycomments_author: `Author
      name`, });

      tinymce.init({ selector: '#comentario', plugins: `advlist autolink lists
        link image charmap print preview hr anchor pagebreak`, toolbar_mode:
        'floating', tinycomments_mode: 'embedded', tinycomments_author: `Author
        name`, });
    </script>
    <!-- Index push 
    <script src="/javascripts/index_push.js"></script> -->
</body>

</html>