<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <title>SolidarianID</title>
    {{!-- BOOTSTRAP --}}
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    
    <header>
        {{> nav}}
    </header>

    <div id="main" class="main">
        {{{ body }}}
    </div>

    {{> footer}}

    <!-- Bootstrap JS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <!-- jQuery library -->
    <script src="/stylesheets/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="/stylesheets/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/stylesheets/bootstrap.min.js"></script>
    <!-- Custom scripts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Custom scripts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Main JS -->
    <script src="/javascripts/main.js"></script>
    <!-- IndexDB -->
    <script src="/javascripts/indexdb.js"></script>
    <!-- TinyMCE -->
    <script src="../tinymce/tinymce.min.js"></script>
    <!-- Validar formulario -->
    <script src="/javascripts/validarFormulario.js"></script>
    <script>
      tinymce.init({ selector: '#publicaciones', plugins: `advlist autolink lists
      link image charmap print preview hr anchor pagebreak`, toolbar_mode:
      'floating', tinycomments_mode: 'embedded', tinycomments_author: `Author
      name`, });
    </script>
</body>

</html>