#cardComunidad {
  width: 60%;
  margin: auto;
}

#cardComunidad img {
  width: 150px;
}

#cardComunidad button {
  margin-top: 10px;
  margin: auto;
}

#cardListaComunidad {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}