<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <h1 class="card-title">Estadisticas</h1>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card bg-light">
        <div class="card-body">
          <canvas id="miGrafico"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
